<div class="wrapper">
  <app-header></app-header>

  <div class="church_banner">
    <ul class="full-banner sb-slider">
      <li>
        <img src="assets/extra-images/church_banner01_img_01.jpg" alt="Banner 1" />
        <div class="slider-caption container">
          <span>June 10, 2017 09:00 to 11:00 A.M</span>
          <div class="sb_title">God Is Love</div>
          <ul class="countdown">
            <li><h3 class="days">23</h3><span>Days</span></li>
            <li><h3 class="hours">36</h3><span>Hours</span></li>
            <li><h3 class="minutes">50</h3><span>Minutes</span></li>
            <li><h3 class="seconds">18</h3><span>Second</span></li>
          </ul>
          <div class="banner_buttons">
            <a routerLink="/booking" class="default_btn border-white">Book Your Seat</a>
            <a routerLink="/schedule" class="default_btn border-white">View Schedule</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <section class="church_aboutus">
    <div class="container">
      <div class="church_heading align_left">
        <h3>About Us</h3>
        <p>There are countless threats to the unity of the body (Colossians 3:6–9). Paul knows that brothers and sisters...</p>
      </div>
      <div class="row church_our_services">
        <div class="col-md-6 col-sm-6">
          <div class="our_services_col">
            <span class="icon-building"></span>
            <h5><a routerLink="/daily-prayer">Daily Prayer</a></h5>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="our_services_col">
            <span class="icon-silhouette"></span>
            <h5><a routerLink="/community">Community</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="church_soft_services bg_none">
    <div class="container">
      <div class="church_heading align_center">
        <h3>Our Ministry</h3>
        <span><sup class="icon-cross"></sup></span>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="soft_column">
            <figure>
              <img src="assets/extra-images/our_soft_col_img01.jpg" alt="">
              <div class="soft_column_caption">
                <h4>Children’s Ministry</h4>
                <p>Praesent eget metus ligula. In tempus fermentum dui...</p>
                <a routerLink="/ministries/children" class="default_small_btn theme-bg_btn">Read More</a>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
