<div class="copyright-content center">
  <div class="social-icons">
    <ul class="social-icons_list">
      <li>
        <a
          href="https://www.facebook.com/share/15vgT1f1hU/?mibextid=wwXIfr"
          target="_blank"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/potterscommunity?igsh=dDUxbmlpZ2dmZW1i"
          target="_blank"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a
          href="https://youtube.com/@thepotterscommunitynetwork?si=xwD5jFAqOHf9cKEZ"
          target="_blank"
          ><i class="fa fa-youtube" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <p>
      <i class="fa fa-copyright" aria-hidden="true"></i><br />All Rights
      Reserved to Potter's Community Network
    </p>
    <p>
      Designed by
      <a href="https://twinmindsolutions.co.uk/" target="_blank"
        >TwinMindSolutions</a
      >
    </p>
  </div>
</div>
