.gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 per row on mobile */
  gap: 12px;
  padding: 12px;
  justify-items: center; /* center fixed-size images */
}

.gallery-img {
  width: 300px;
    height: 300px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.03);
}

/* 4 per row on wider screens */
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-img {
    width: 300px;
    height: 300px;
  }
}
