<header class="church_version_1">
  <div class="church_container">
    <div class="container">
      <div class="church_logo">
        <h1>
          <a routerLink="/"
            ><img src="assets/images/A1-pcn-logo.png" alt="church logo"
          /></a>
        </h1>
      </div>

      <div id="kode-responsive-navigation" class="dl-menuwrapper">
        <button class="dl-trigger">Menu</button>
        <ul class="dl-menu">
          <li class="active">
            <a class="active">Home</a>
            <ul class="dl-submenu">
              <li><a routerLink="/home">homepage</a></li>
              <li><a routerLink="/about-us">About us</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a >Activities</a>
            <ul class="dl-submenu">
              <li><a [routerLink]="['/activity', 1]">Morning Devotion</a></li>
              <li><a [routerLink]="['/activity', 2]">Wednesday Bible Study</a></li>
              <li><a [routerLink]="['/activity', 3]">Saturday Intercession</a></li>
              <li><a [routerLink]="['/activity', 4]">Sunday Fellowship</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a routerLink="/ministries">Ministries</a>
            <ul class="dl-submenu">
              <li><a [routerLink]="['/ministry', 1]">Bradford Church</a></li>
              <li><a [routerLink]="['/ministry', 2]">Milton Keynes Prayer Club</a></li>
              <li><a [routerLink]="['/ministry', 3]">Gatekeepers - Intercession</a></li>
            </ul>
          </li>

          <li class="menu-item">
            <a routerLink="/causes">Causes</a>
            <ul class="dl-submenu">
              <li><a routerLink="/causes-detail">causes detail</a></li>
              <li><a routerLink="/causes-detail">causes detail</a></li>
            </ul>
          </li>

          <li><a routerLink="/schedule">Schedule</a></li>
          <li><a routerLink="/contact-us">contact us</a></li>
        </ul>
      </div>

      <div class="church_menu_row">
        <div class="church_audio_row">
          <div class="audioplayer">
            <ul class="playlist">
              <li
                data-cover="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.jpg"
                data-artist="Chapter of Bible"
              >
                <a
                  href="http://digital.akauk.com/utils/musicPlayer/data/acousticbreeze.mp3"
                  >Gospel of judice Chapter 1</a
                >
              </li>
              <li
                data-cover="http://digital.akauk.com/utils/musicPlayer/data/dubstep.jpg"
                data-artist="Jane Doe"
              >
                <a
                  href="http://digital.akauk.com/utils/musicPlayer/data/dubstep.mp3"
                  >Dubstep</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="social-icons">
          <ul class="social-icons_list">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-google-plus" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>

        <div class="church_social-menu">
          <div class="church_navigation">
            <nav class="navigation">
              <ul>
                <li>
                  <a routerLink="/home">Home</a>
                  <ul class="children submenu">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about-us">About us</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a >Activities</a>
                  <ul class="children submenu">
                    <li><a [routerLink]="['/activity', 1]">Morning Devotion</a></li>
                    <li><a [routerLink]="['/activity', 2]">Wednesday Bible Study</a></li>
                    <li><a [routerLink]="['/activity', 3]">Saturday Intercession</a></li>
                    <li><a [routerLink]="['/activity', 4]">Sunday Fellowship</a></li>
                  </ul>
                </li>
                <li>
                  <a routerLink="/ministries">Ministries</a>
                  <ul class="children submenu">
                    <li><a [routerLink]="['/ministry', 1]">Bradford Church</a></li>
                    <li><a [routerLink]="['/ministry', 2]">Milton Keynes Prayer Club</a></li>
                    <li><a [routerLink]="['/ministry', 3]">Gatekeepers - Intercession</a></li>
                  </ul>
                </li>
                <!-- <li>
                  <a href="#">Features</a>
                  <ul class="children submenu">
                    <li><a routerLink="/sermon">sermon</a></li>
                    <li><a routerLink="/sermon-detail">sermon detail</a></li>
                    <li><a routerLink="/coming-soon">coming soon</a></li>
                    <li><a routerLink="/404">404</a></li>
                  </ul>
                </li> -->
                <li>
                  <a routerLink="/causes">Causes</a>
                  <ul class="children submenu">
                    <li><a routerLink="/causes">causes</a></li>
                    <li><a routerLink="/causes-detail">causes detail 1</a></li>
                    <li><a routerLink="/causes-detail">causes detail 2</a></li>
                  </ul>
                </li>
                <!-- <li>
                  <a routerLink="/blog">Our Blog</a>
                  <ul class="children submenu">
                    <li><a routerLink="/blog-posts">blog posts</a></li>
                    <li><a routerLink="/blog-detail">blog detail</a></li>
                  </ul>
                </li> -->
                <li><a routerLink="/schedule">Schedule</a></li>
                <li><a routerLink="/contact-us">contact us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
