<div class="content">
  <section class="ministry_detail padding-bottom">
    <div class="container">
      <div class="ministry_column">
        <div *ngIf="code === '1'">
          <h4 class="custom-font-30px">✨ Sunday Morning Fellowship – Bradford</h4>
          <p>
            <strong
              >Experience God’s presence, community, and transformation every
              Sunday morning at our Bradford fellowship.</strong
            >
            Our Sunday service is the heart of our weekly gathering — a time to
            worship, grow in the Word, and connect with others in faith.
          </p>

          <div class="divider_30"></div>

          <div class="right_side-content">
            <div class="ministry_content">
              <ul class="normal-lines">
                <li>
                  <p>
                    Whether you're new to church or a lifelong believer, you'll
                    find a warm and diverse community ready to welcome you.
                  </p>
                  <p>
                    Join us for a powerful time of worship, prayer, and teaching
                    that will inspire and equip you to live out your faith.
                  </p>
                </li>
                <li>
                  <p></p>
                  <p><strong>What to Expect:</strong></p>
                </li>
                <ul>
                  <li style="font-size: medium">
                    🎶 Uplifting worship led by our Spirit-filled team
                  </li>
                  <li style="font-size: medium">
                    📖 A life-changing message rooted in Scripture
                  </li>
                  <li style="font-size: medium">
                    🫂 Fellowship with believers from all walks of life
                  </li>
                  <li style="font-size: medium">
                    🙏 Prayer, encouragement, and opportunities to grow
                  </li>
                </ul>

                <li>
                  <p>
                    <br />
                    <strong>📍 Location:</strong> MAPA Centre, 1 Coates St.,
                    Bradford<br />
                    <strong>🕘 Time:</strong> Sundays at 13:30
                  </p>
                </li>
                <blockquote>
                  “How good and pleasant it is when God’s people live together
                  in unity.”<br />
                  — <em>Psalm 133:1</em>
                </blockquote>
              </ul>
            </div>
            <figure>
              <img src="assets/images/A1-bradford.jpg" alt="Ministry Action" />
            </figure>
          </div>
        </div>
        <div *ngIf="code === '2'">
          <h4 class="custom-font-30px">
            ✝️ Monthly Prayer Club – Milton Keynes
          </h4>
          <p>
            Join us for our <strong>Monthly Prayer Club</strong> — a powerful
            time of intercession, worship, and spiritual renewal in the heart of
            <strong>Milton Keynes</strong>. This monthly gathering is a sacred
            space where believers come together to seek God, stand in the gap
            for others, and grow deeper in their prayer lives. > Our Sunday
            service is the heart of our weekly gathering — a time to worship,
            grow in the Word, and connect with others in faith.
          </p>

          <div class="divider_30"></div>

          <div class="right_side-content">
            <div class="ministry_content">
              <ul class="normal-lines">
                <li>
                  <p>
                    Whether you're passionate about prayer or just beginning to
                    explore it, this is a welcoming place to learn, share, and
                    experience the power of collective faith.
                  </p>
                  <p>
                    Join us for a powerful time of worship, prayer, and teaching
                    that will inspire and equip you to live out your faith.
                  </p>
                </li>
                <li>
                  <p></p>
                  <p><strong>Each month includes:</strong></p>
                </li>
                <ul>
                  <li style="font-size: medium">
                    🙏 Focused prayer for families, the church, and the nation
                  </li>
                  <li style="font-size: medium">
                    🕊️ Spirit-led worship and personal reflection
                  </li>
                  <li style="font-size: medium">
                    📖 Short devotion and encouragement
                  </li>
                  <li style="font-size: medium">
                    🫂 Fellowship and testimonies of answered prayers
                  </li>
                </ul>

                <li>
                  <p>
                    <br />
                    <strong>📍 Location:</strong> Walton Road, Wavendon, Mk17
                    8LH, Milton Keynes<br />
                    <strong>🗓️ When:</strong> TBD<br />
                    <strong>🕘 Time:</strong> 14:30 – 17:30
                  </p>
                </li>
                <blockquote>
                  “How good and pleasant it is when God’s people live together
                  in unity.”<br />
                  — <em>Psalm 133:1</em>
                </blockquote>
              </ul>
            </div>
            <figure>
              <img src="assets/images/A1-club-mk.jpg" alt="Ministry Action" />
            </figure>
          </div>
        </div>
        <div *ngIf="code === '3'">
          <h4 class="custom-font-30px">
            🛡️ Online Gatekeepers – Prayer Intercession Group
          </h4>
          <p>
            Prayer Intercession is the act of standing in the gap
            through prayer—lifting up the needs of others, the church,
            and the world before God. It is a powerful ministry of love,
            faith, and spiritual warfare that invites heaven’s will to
            be done on earth.
          </p>
          <p>
            Online Gatekeepers is a dedicated team of believers who meet
            virtually to stand in prayer over the church, community, and global
            issues. As spiritual watchmen, we are committed to guarding the
            gates through consistent intercession, prophetic insight, and
            Spirit-led prayer.
          </p>


          <div class="divider_30"></div>

          <div class="right_side-content">
            <div class="ministry_content">
              <ul class="normal-lines">
                <li>
                  <p>
                    This group is open to those who feel called to pray with authority,
                    discernment, and unity — covering leaders, families, and nations
                    from the secret place.
                  </p>
                </li>
                <li>

                  <p><strong>What We Do:</strong></p>
                </li>
                <ul>
                  <li style="font-size: medium">
                    🙏 Intercede for the church, ministries, and communities
                  </li>
                  <li style="font-size: medium">
                    🌍 Cover national and global events in prayer
                  </li>
                  <li style="font-size: medium">
                    🔥 Host targeted prayer watches and Scripture-based
                    declarations
                  </li>
                  <li style="font-size: medium">
                    🫂 Encourage one another in the ministry of intercession
                  </li>
                </ul>

                <li>
                  <p>
                    <br />
                    <strong>📍 Meeting Format:</strong> Online (Zoom/Google Meet)<br />
                    <strong>🗓️ Frequency:</strong> Weekly<br />
                    <strong>🕘 Time (UK):</strong> 20:30  - 21:30
                    <strong>🕘 Time (GHANA):</strong> 19:30  - 20:30
                  </p>
                </li>
                <blockquote>
                  “I have posted watchmen on your walls… they will never be
                  silent day or night.”<br />
                  — <em>Isaiah 62:6</em>
                </blockquote>
              </ul>
            </div>
            <figure>
              <img src="assets/images/A1-club-mk.jpg" alt="Ministry Action" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
