<section class="church_aboutus">
  <div class="container">
    <div class="church_about_us">
      <div class="church_heading align_left">
        <h3>About Us</h3>
        <p>
          Potter’s Community Network is a Global Community with a vision of
          taking God’s divine love and presence to the nations of the world and
          to demonstrate the character of the Holy Spirit.
        </p>
      </div>

      <div class="church_our_services">
        <div class="row">
          <div
            class="col-md-6 col-sm-6 col-xs-12"
            *ngFor="let service of services"
          >
            <div  [routerLink]="[service.path]" class="our_services_col">
              <span [class]="service.icon"></span>
              <h5>
                <a [routerLink]="[service.path]">{{ service.title }}</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
