<div class="content bg_none padding_none">
  <div class="container">
    <section class="padding_2">
      <div class="row">
        <div class="col-md-9">
          <div class="church_causes_detail">
            <figure>
              <img src={{charityImage}} alt="" />
            </figure>
            <div class="church_causes_caption">
              <div class="church_causes_cap">
                <h4 class="blog_title_1">
                  <a href="#">{{charityName}}</a>
                </h4>

                <p>
                 {{charityDescription}}
                </p>
              </div>


            </div>
          </div>
          <div class="church_causes_documents">
            <form>

             
              <div class="login_registor" (click)="donate()">
                <a  class="default_btn black-bg_btn">Donate</a>
              </div>


            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
