<div class="content bg_none padding_none">
  <div class="container">
    <section class="padding_2">
      <div class="row">
        <div class="col-md-9">
          <div class="church_causes_detail">
            <figure>
              <img src={{charityImage}} alt="" />
            </figure>
            <div class="church_causes_caption">
              <div class="church_causes_cap">
                <h4 class="blog_title_1">
                  <a href="#">{{charityName}}</a>
                </h4>

                <p>
                 {{charityDescription}}
                </p>
              </div>


            </div>
          </div>
          <div class="church_causes_documents">
            <h4 class="blog_title_1">Donate Now</h4>
            <form>
              <ul class="donate_amount_focus">
                <li>
                  <div class="amount_focus">
                    <input id="wt1" type="radio" name="one" /><label for="wt1"
                      ><span>50$</span></label
                    >
                  </div>
                </li>
                <li>
                  <div class="amount_focus">
                    <input id="wt2" type="radio" name="one" checked /><label
                      for="wt2"
                      ><span>100$</span></label
                    >
                  </div>
                </li>
                <li>
                  <div class="amount_focus">
                    <input id="wt3" type="radio" name="one" /><label for="wt3"
                      ><span>200$</span></label
                    >
                  </div>
                </li>
                <li>
                  <div class="amount_focus">
                    <input id="wt4" type="radio" name="one" /><label for="wt4"
                      ><span>500$</span></label
                    >
                  </div>
                </li>
                <li>
                  <div class="amount_focus">
                    <input id="wt5" type="radio" name="one" /><label for="wt5"
                      ><span>1000$</span></label
                    >
                  </div>
                </li>
                <li>
                  <div class="amount_focus">
                    <input id="wt6" type="radio" name="one" /><label for="wt6"
                      ><span>1500$</span></label
                    >
                  </div>
                </li>
                <li>
                  <div class="amount_focus">
                    <input id="wt7" type="radio" name="one" /><label for="wt7"
                      ><span>2500$</span></label
                    >
                  </div>
                </li>
              </ul>
              <div class="write_amount_focus">
                <input
                  type="text"
                  name="one"
                  placeholder="Insert other amount"
                />
              </div>
              <div class="login_registor">
                <a href="#" class="default_btn black-bg_btn">Donate</a>
              </div>


            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
