<div class="church_aboutus">
  <div class="container">
    <div class="church_about_us">
      <div class="church_heading align_left">
        <h3>About Us</h3>
        <p>
          God Bless You and thank you for visiting us. We know that it is not by
          accident that you are reading this. ​It is an honor and privilege that
          our Lord and Master Jesus Christ, have sent us to share this message
          with you. We teach the infallible Word of God and show men how to
          fulfill their divine purpose in Christ.
        </p>
        <br /><br />
        <p>
          <b>WHO WE ARE:</b><br />
          Potter’s Community Network is a Global Community with a vision of
          taking God’s divine love and presence to the nations of the world and
          to demonstrate the character of the Holy Spirit. Being part of P.C.N
          is more than being in a church. It’s a Vision, and as you serve and
          worship with us, you learn more than just the letters of scriptures,
          you embrace the Spirit of Transformation.
        </p>
        <br /><br />
        <p>
          <b>CORE SCRIPTURE: </b><br />
          “But whenever anyone turns to the Lord, the veil is taken away. Now
          the Lord is the Spirit, and where the Spirit of the Lord is, there is
          freedom. And we all, who with unveiled faces contemplate the Lord’s
          glory, are being transformed into his image with ever-increasing
          glory, which comes from the Lord, who is the Spirit”. <br />(2
          Corinthians 3:16-18)<br />
          The word of God will come alive in your spirit as you worship and
          serve with us. Grace and peace will be multiplied unto you through the
          knowledge of our Lord and Savior Jesus Christ.
        </p>
        <br /><br />
        <p>
          <b>MISSION: </b><br />
          To raise generations of men and women who will come into their
          inheritance in Christ by teaching the word of God through the Spirit
          of Transformation so that they will fulfill God’s Vision for their
          lives and generation.
        </p>
        <br /><br />
        <p>
          <b>VISION: </b><br />
          Our vision is to take God’s divine presence to the peoples and the
          nations of the world and to demonstrate the character of the Holy
          Spirit.
        </p>
      </div>
    </div>
  </div>
</div>
