<div class="church_banner">
  <!--church banner slider-->
  <ul class="full-banner sb-slider">
    <!-- Repeatable banner items -->
    <li *ngFor="let slide of bannerSlides">
      <img [src]="slide.image" [alt]="slide.alt" />
      <div class="slider-caption container">


      </div>
    </li>
  </ul>

  <!-- <div class="nav-arrows">
    <a href="#">Next</a>
    <a href="#">Previous</a>
  </div>

  <div class="nav-dots">
    <span class="nav-dot-current"></span>
    <span *ngFor="let dot of bannerSlides.slice(1)"></span>
  </div> -->
</div>
